MiniSAAS/MiniSAAS/Service References/DataServiceReference/DataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63729/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" />
  <xs:import schemaLocation="http://localhost:63729/DataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RegisterTenant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTenantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterTenantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginTenant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginTenantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginTenantResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" minOccurs="0" name="od" nillable="true" type="q1:ObjectDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateObjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" minOccurs="0" name="od" nillable="true" type="q2:ObjectDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteObjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" minOccurs="0" name="GetObjectCollectionResult" nillable="true" type="q3:ArrayOfObjectDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" minOccurs="0" name="dd" nillable="true" type="q4:DataDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDataResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" minOccurs="0" name="od" nillable="true" type="q5:ObjectDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" minOccurs="0" name="ViewDataResult" nillable="true" type="q6:DataDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" minOccurs="0" name="dd" nillable="true" type="q7:DataDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDataResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrgs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrgsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOrgsResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>