MiniSAAS/MiniSAAS/Service References/DataServiceReference/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63729/DataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ObjectDescription">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Fields" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="ObjName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      <xs:element minOccurs="0" name="PrimaryKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectDescription" nillable="true" type="tns:ObjectDescription" />
  <xs:complexType name="ArrayOfObjectDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjectDescription" nillable="true" type="tns:ObjectDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObjectDescription" nillable="true" type="tns:ArrayOfObjectDescription" />
  <xs:complexType name="DataDescription">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q2:ArrayOfArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Fields" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="ObjName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataDescription" nillable="true" type="tns:DataDescription" />
</xs:schema>