MiniSAAS/MiniSAAS/Service References/UIServiceReference/UIService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3985/UIService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="ControlLocation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Header">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Footer">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Sidebar">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ControlLocation" nillable="true" type="tns:ControlLocation" />
  <xs:complexType name="ArrayOfControl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Control" nillable="true" type="tns:Control" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfControl" nillable="true" type="tns:ArrayOfControl" />
  <xs:complexType name="Control">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackgroundImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlID" type="xs:int" />
      <xs:element minOccurs="0" name="ControlLocation" type="tns:ControlLocation" />
      <xs:element minOccurs="0" name="RedirectURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Control" nillable="true" type="tns:Control" />
</xs:schema>