MiniSAAS/MiniSAAS/Service References/UIServiceReference/UIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UIService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3985/UIService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3985/UIService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3985/UIService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUIService_GetControls_InputMessage">
    <wsdl:part name="parameters" element="tns:GetControls" />
  </wsdl:message>
  <wsdl:message name="IUIService_GetControls_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetControlsResponse" />
  </wsdl:message>
  <wsdl:message name="IUIService_UpdateHeader_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHeader" />
  </wsdl:message>
  <wsdl:message name="IUIService_UpdateHeader_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHeaderResponse" />
  </wsdl:message>
  <wsdl:portType name="IUIService">
    <wsdl:operation name="GetControls">
      <wsdl:input wsaw:Action="http://tempuri.org/IUIService/GetControls" message="tns:IUIService_GetControls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUIService/GetControlsResponse" message="tns:IUIService_GetControls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateHeader">
      <wsdl:input wsaw:Action="http://tempuri.org/IUIService/UpdateHeader" message="tns:IUIService_UpdateHeader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUIService/UpdateHeaderResponse" message="tns:IUIService_UpdateHeader_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUIService" type="tns:IUIService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetControls">
      <soap:operation soapAction="http://tempuri.org/IUIService/GetControls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHeader">
      <soap:operation soapAction="http://tempuri.org/IUIService/UpdateHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UIService">
    <wsdl:port name="BasicHttpBinding_IUIService" binding="tns:BasicHttpBinding_IUIService">
      <soap:address location="http://localhost:3985/UIService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>