MiniSAAS/MiniSAAS/Service References/UIServiceReference/UIService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3985/UIService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" />
  <xs:element name="GetControls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgid" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" minOccurs="0" name="controllocation" type="q1:ControlLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetControlsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" minOccurs="0" name="GetControlsResult" nillable="true" type="q2:ArrayOfControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgid" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" minOccurs="0" name="control" nillable="true" type="q3:Control" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHeaderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>