MiniSAAS/MiniSAAS/Service References/WorkflowServiceReference/WorkflowService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3985/WorkflowService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="WorkflowDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      <xs:element minOccurs="0" name="Workflows" nillable="true" type="tns:ArrayOfWorkflow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkflowDescription" nillable="true" type="tns:WorkflowDescription" />
  <xs:complexType name="ArrayOfWorkflow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Workflow" nillable="true" type="tns:Workflow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkflow" nillable="true" type="tns:ArrayOfWorkflow" />
  <xs:complexType name="Workflow">
    <xs:sequence>
      <xs:element minOccurs="0" name="Methods" nillable="true" type="tns:ArrayOfMethod" />
      <xs:element minOccurs="0" name="WorkflowID" type="xs:int" />
      <xs:element minOccurs="0" name="WorkflowName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Workflow" nillable="true" type="tns:Workflow" />
  <xs:complexType name="ArrayOfMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Method" nillable="true" type="tns:Method" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMethod" nillable="true" type="tns:ArrayOfMethod" />
  <xs:complexType name="Method">
    <xs:sequence>
      <xs:element minOccurs="0" name="MethodID" type="xs:int" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parameters" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="ReturnType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkflowID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Method" nillable="true" type="tns:Method" />
</xs:schema>