MiniSAAS/MiniSAAS/Service References/WorkflowServiceReference/WorkflowService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WorkflowService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3985/WorkflowService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3985/WorkflowService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3985/WorkflowService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:3985/WorkflowService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MiniSAAS.Back.Classes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWorkflowService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_ForgotPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPassword" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_ForgotPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_ApplyCoupon_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyCoupon" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_ApplyCoupon_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyCouponResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_CalculateTax_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTax" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_CalculateTax_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTaxResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_VerifyCreditCard_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyCreditCard" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_VerifyCreditCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyCreditCardResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_GetShippingVendors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShippingVendors" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_GetShippingVendors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShippingVendorsResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_ValidateZIP_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateZIP" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_ValidateZIP_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateZIPResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_AddToCart_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToCart" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_AddToCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToCartResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_GetCart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCart" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_GetCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_DeleteCart_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCart" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_DeleteCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCartResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_GetWorkflows_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkflows" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_GetWorkflows_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkflowsResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_AddWorkflow_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWorkflow" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_AddWorkflow_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWorkflowResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_DeleteWorkflow_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWorkflow" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_DeleteWorkflow_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWorkflowResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_DeleteMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMethod" />
  </wsdl:message>
  <wsdl:message name="IWorkflowService_DeleteMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="IWorkflowService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/Login" message="tns:IWorkflowService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/LoginResponse" message="tns:IWorkflowService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/ForgotPassword" message="tns:IWorkflowService_ForgotPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/ForgotPasswordResponse" message="tns:IWorkflowService_ForgotPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/Register" message="tns:IWorkflowService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/RegisterResponse" message="tns:IWorkflowService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyCoupon">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/ApplyCoupon" message="tns:IWorkflowService_ApplyCoupon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/ApplyCouponResponse" message="tns:IWorkflowService_ApplyCoupon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateTax">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/CalculateTax" message="tns:IWorkflowService_CalculateTax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/CalculateTaxResponse" message="tns:IWorkflowService_CalculateTax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyCreditCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/VerifyCreditCard" message="tns:IWorkflowService_VerifyCreditCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/VerifyCreditCardResponse" message="tns:IWorkflowService_VerifyCreditCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShippingVendors">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/GetShippingVendors" message="tns:IWorkflowService_GetShippingVendors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/GetShippingVendorsResponse" message="tns:IWorkflowService_GetShippingVendors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateZIP">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/ValidateZIP" message="tns:IWorkflowService_ValidateZIP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/ValidateZIPResponse" message="tns:IWorkflowService_ValidateZIP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddToCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/AddToCart" message="tns:IWorkflowService_AddToCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/AddToCartResponse" message="tns:IWorkflowService_AddToCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/GetCart" message="tns:IWorkflowService_GetCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/GetCartResponse" message="tns:IWorkflowService_GetCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/DeleteCart" message="tns:IWorkflowService_DeleteCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/DeleteCartResponse" message="tns:IWorkflowService_DeleteCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkflows">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/GetWorkflows" message="tns:IWorkflowService_GetWorkflows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/GetWorkflowsResponse" message="tns:IWorkflowService_GetWorkflows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddWorkflow">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/AddWorkflow" message="tns:IWorkflowService_AddWorkflow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/AddWorkflowResponse" message="tns:IWorkflowService_AddWorkflow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkflow">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/DeleteWorkflow" message="tns:IWorkflowService_DeleteWorkflow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/DeleteWorkflowResponse" message="tns:IWorkflowService_DeleteWorkflow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowService/DeleteMethod" message="tns:IWorkflowService_DeleteMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowService/DeleteMethodResponse" message="tns:IWorkflowService_DeleteMethod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWorkflowService" type="tns:IWorkflowService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/ForgotPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyCoupon">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/ApplyCoupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateTax">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/CalculateTax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyCreditCard">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/VerifyCreditCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShippingVendors">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/GetShippingVendors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateZIP">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/ValidateZIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToCart">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/AddToCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCart">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/GetCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCart">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/DeleteCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkflows">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/GetWorkflows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWorkflow">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/AddWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkflow">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/DeleteWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMethod">
      <soap:operation soapAction="http://tempuri.org/IWorkflowService/DeleteMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorkflowService">
    <wsdl:port name="BasicHttpBinding_IWorkflowService" binding="tns:BasicHttpBinding_IWorkflowService">
      <soap:address location="http://localhost:3985/WorkflowService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>